.git
.gitignore
.github
**/.DS_Store

__pycache__/
**/__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

venv/
.venv/
env/
.env
.env.*

.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
tests/

compose.yaml
docker-compose.yml
Dockerfile
.dockerignore
scripts/
README.md
pytest.ini

.idea/
.vscode/
*.swp
